table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    table-layout: fixed;;
}

th {
    border: 1px solid black;
    background-color: #efefef;
    font-size: 15px;
    font-weight: 600;
}

td {
    border: 1px solid black;
    padding: 8px;
    font-size: 13px;
    font-weight: 300;
}

td[rowspan],
td[colspan],
.center {
    text-align: center;
}